<div class="contentDiv">
  <h1>Registration Form</h1>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit(templateForm)" #templateForm="ngForm">
        <p>First name</p>
        <mat-form-field class="materialForm" appearance="fill" hideRequiredMarker>
          <mat-label></mat-label>
          <input
            matInput
            [(ngModel)]="person1.firstName"
            #fname="ngModel"
            name="firstName"
            required minlength=2 pattern="^[a-zA-ZÀ-ȕ \-]*$"
            />
            @if (fname.hasError('required')) {
              <mat-error>Enter your first name</mat-error>
            }
            @if (fname.hasError('minlength')) {
              <mat-error>Minimum 2 characters required</mat-error>
            }
            @if (fname.hasError('pattern')) {
              <mat-error>Must be a valid name</mat-error>
            }
          </mat-form-field>
          <p>Last name</p>
          <mat-form-field class="materialForm" appearance="fill" hideRequiredMarker>
            <mat-label></mat-label>
            <input
              matInput
              [(ngModel)]="person1.lastName"
              #lname="ngModel"
              name="lastName"
              required minlength=2 pattern="^[a-zA-ZÀ-ȕ \-]*$"
              />
              @if (lname.hasError('required')) {
                <mat-error>Enter your last name</mat-error>
              }
              @if (lname.hasError('minlength')) {
                <mat-error>Minimum 2 characters required</mat-error>
              }
              @if (lname.hasError('pattern')) {
                <mat-error>Must be a valid name</mat-error>
              }
            </mat-form-field>
            <p>Person ID</p>
            <mat-form-field class="materialForm" appearance="fill" hideRequiredMarker>
              <mat-label></mat-label>
              <input
                matInput
                [(ngModel)]="person1.personId"
                #pid="ngModel"
                name="personid"
                required minlength=11 maxlength=11 pattern="^[0-9A-Z \-]*$"
                />
                @if (pid.hasError('required')) {
                  <mat-error>Enter your person id</mat-error>
                }
                @if (pid.hasError('minlength')) {
                  <mat-error>Id too short</mat-error>
                }
                @if (pid.hasError('pattern')) {
                  <mat-error>Must be a valid id</mat-error>
                }
              </mat-form-field>
              <p>Email</p>
              <mat-form-field class="materialForm" appearance="fill" hideRequiredMarker>
                <mat-label></mat-label>
                <input
                  matInput
                  [(ngModel)]="person1.email"
                  #email="ngModel"
                  name="email"
                  required email minlength=6 pattern="^[@a-zA-Z \.]*$"
                  />
                  @if (email.hasError('required')) {
                    <mat-error>Enter your e-mail address</mat-error>
                  }
                  @if (email.hasError('minlength')) {
                    <mat-error>Minimum 6 characters required</mat-error>
                  }
                  @if (email.hasError('pattern')) {
                    <mat-error>Must be a valid name</mat-error>
                  }
                  @if (email.hasError('email')) {
                    <mat-error>Needs to be an email address</mat-error>
                  }
                </mat-form-field>
                <p>Username</p>
                <mat-form-field class="materialForm" appearance="fill" hideRequiredMarker>
                  <mat-label></mat-label>
                  <input
                    matInput
                    [(ngModel)]="person1.userName"
                    #uname="ngModel"
                    name="username"
                    required minlength=4 pattern="^[a-zA-Z ]*$"
                    />
                    @if (uname.hasError('required')) {
                      <mat-error>Enter your username</mat-error>
                    }
                    @if (uname.hasError('minlength')) {
                      <mat-error>Minimum 4 characters required</mat-error>
                    }
                    @if (uname.hasError('pattern')) {
                      <mat-error>Only a-z characters accepted</mat-error>
                    }
                  </mat-form-field>
                  <p>Password</p>
                  <mat-form-field class="materialForm" appearance="fill" hideRequiredMarker>
                    <mat-label></mat-label>
                    <input
                      matInput
                      type="password"
                      [(ngModel)]="person1.passWord"
                      #passw="ngModel"
                      name="password"
                      required minlength=8 maxlength=16 pattern="^((?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).{8,})\S$"
                      />
                      @if (passw.hasError('required')) {
                        <mat-error>Enter your password</mat-error>
                      }
                      @if (passw.hasError('minlength')) {
                        <mat-error>Minimum 8 characters required</mat-error>
                      }
                      @if (passw.hasError('pattern')) {
                        <mat-error>Must contain at least 1 number, 1 uppercase letter and 1 lowercase letter</mat-error>
                      }
                    </mat-form-field>
                    <p>Confirm password</p>
                    <mat-form-field class="materialForm" appearance="fill" hideRequiredMarker>
                      <mat-label></mat-label>
                      <input
                        matInput
                        type="password"
                        [(ngModel)]="person1.confirmPassword"
                        #cpassw="ngModel"
                        name="confpassw"
                        required minlength=8 pattern="{{passw.value}}"
                        />
                        @if (cpassw.hasError('required')) {
                          <mat-error>Confirm your password</mat-error>
                        }
                        @if (cpassw.hasError('minlength')) {
                          <mat-error>Minimum 8 characters required</mat-error>
                        }
                        @if (cpassw.hasError('pattern')) {
                          <mat-error>Passwords do not match</mat-error>
                        }
                      </mat-form-field>
                      <p>Accept terms and conditions</p>
                      <p>
                        <input type="checkbox" [(ngModel)]="checkBox" name="checkb" required />
                        @if (!checkBox) {
                          <mat-error>Please accept terms and conditions before submitting the form</mat-error>
                        }
                      </p>
                      <button mat-raised-button type="submit" [disabled]="templateForm.invalid">Submit</button>
                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
