.contentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.materialForm {
    width: 27rem;
    max-width: 27rem;
    min-width: 26rem;
}