mat-slider {
    width: 100%;
  }

.contentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

mat-card {
  padding: 1.5rem;
  margin: 1rem;
}