<div class="contentDiv">
  <form>
    <mat-form-field>
      <input matInput
        placeholder="Search"
        [(ngModel)]="searchString"
        #search="ngModel"
        name="searchString" />
      </mat-form-field>
    </form>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><p> &nbsp;&nbsp;&nbsp; </p></mat-panel-title>
          </mat-expansion-panel-header>
          {{ finnkinoData$ }}
        </mat-expansion-panel>
    </mat-accordion>
  </div>