.contentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#calculatorBody {
    display: flex;
    background: rgb(166, 199, 162);
    min-width: 10rem;
    width: 100%;
    max-width: 32rem;
}

#resultScreen {
    display: flex;
    justify-items: right;
    justify-content: right;
    background:rgb(216, 216, 216);
    border-style: solid;
    border-width: 3px;
    min-width: 5rem;
    max-width: 30rem;
    height: 3rem;
    margin: auto;
    padding: 0.1rem;
    overflow: hidden;
}

h1 {
    font-family: sans-serif;
}

mat-grid-tile {
    min-width: 10%;
    max-width: 20%;
    margin: auto;
    vertical-align: auto;
  }

#specialTile {
    background:rgb(166, 199, 162)
}

.calculatorButtons {
    color: rgb(29, 77, 18);
    font-size: xx-large;
    margin-top: 1.9rem;
}

.calculatorScreen {
    font-size: x-large;
    padding-top: 0.1rem;
    padding-left: 0.5rem;
}