<div class="contentDiv">
    <mat-card id="textCardBody" appearance="outlined">
        <mat-card-content>
            <mat-card id="textCard">
                <h1>This is a showcase of my coding projects and assignments related to my studies</h1>
                <h2>A short introduction</h2>
                <p>Hello, my name is Vesa Vaittinen and I'm currently on my second term studying IT in the LAB University of Applied Sciences. This is a brief showcase of what I've done in front end programming. I have also completed back end programming course, but hosting back end code on some server is still something yet to do.</p>
                <h2>About this web app</h2>
                <p>This web app contains some small web apps that open by clicking a hamburger toolbar icon and then the app's name.</p>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>