<main class="main">
  <div class="content">
    <div>
      <mat-card>
        <mat-card-content>
          <mat-toolbar>
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a routerLink="./calculator"><button mat-menu-item>Calculator</button></a>
              <a routerLink="./feedback"><button mat-menu-item>Feedback</button></a>
              <a routerLink="./registrationform"><button mat-menu-item>Registration Form</button></a>
              <a routerLink="./reactiveregistrationform"><button mat-menu-item>Reactive Registration Form</button></a>
              <a routerLink="./finnkino"><button mat-menu-item>Finnkino</button></a>
              <a routerLink="./agri"><button mat-menu-item>Tentti</button></a>
            </mat-menu>
            <span>Apps by Vesa Vaittinen</span>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
<div class="main">
  <router-outlet />
</div>